mixin roomPreview(room)
    div 
        a(href=`/rooms/${room._id}`)=room.title
        br
        small=room.filtering 
        br
        small=room.author.username 
        br 
        small=room.createdAt 
        hr
    