.form {
    box-sizing: border-box;
    padding: 7px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    .form__tags {
        display: flex;
        .form__tag {
            box-sizing: border-box;
            padding: 10px;
        }
    }
    input[type=text] {
        box-sizing: border-box;
        padding: 10px;
        width: 80%;
        outline: none;
        border: none;
        border-radius: 9999px;
    }
    
    input[type=text] + .form__btn {
        position: absolute;
        color: $black;
        right: 50px;
    }
}

.form__btn {
    box-sizing: border-box;
    padding: 10px;
    border: none;
    color: $white;
    background: none;
    border-radius: 9999px;
    font: inherit;
    margin-left: 10px;
}