.form-container {
    width: 85%;
    margin: 10px auto;
    border-top: 2px solid $gray;
    border-bottom: 2px solid $gray;
    background: none;
    padding: 20px 0;
    color: $black;
    .form {
        box-sizing: border-box;
        padding: 7px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        .form__tags {
            display: flex;
            .form__tag {
                box-sizing: border-box;
                padding: 10px;
            }
        }
        input[type=email],
        input[type=password],
        input[type=text] {
            box-sizing: border-box;
            padding: 10px;
            width: 100%;
            outline: none;
            border: 1px solid $gray;
        }
        
        input[type=text] + .form__btn {
            position: absolute;
            color: $black;
            right: 10px;
        }
        input[type=submit] {
            box-sizing: border-box;
            padding: 10px 20px;
            outline: none;
            border: none;
            border-radius: 9999px;
            cursor: pointer;
            background-color: $black;
            color: $white;
        }
    }
    .form__radio {
        margin: 10px 0;
        & > input[type=radio] {
            margin-right: 5px;
            & + label {
                margin-right: 10px;
            }
        } 
    }
    .form__textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        border: 1px solid $gray;
    }
    .form__member {
        padding: 10px;
        span {
            margin-right: 10px;
        }
    }
}

.form__btn {
    box-sizing: border-box;
    padding: 10px;
    border: none;
    color: $black;
    background: none;
    border-radius: 9999px;
    font: inherit;
    margin-left: 10px;
}

.form__editRoom,
.form__createRoom,
.form__join,
.form__login {
    flex-direction: column;
    input {
        margin: 10px 0;
    }
}

/* Comment Section */

.comment {
    display: block;
    padding: 10px;
    border-top: 1px solid $gray;
}

.comment-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    input[type=text] {
        box-sizing: border-box;
        padding: 10px;
        width: 80%;
        height: 45px;
        outline: none;
        font-size: larger;
        border: 1px solid $gray;
    }
    button {
        box-sizing: border-box;
        padding: 10px;
        width: 20%;
        height: 45px;
        outline: none;
        font-size: larger;
        border: 1px solid $gray;
    }
}

/* Edit Form */

.edit__form {
    flex-direction: column;
    input {
        margin-bottom: 10px;
    }
}

.edit__btns {
    margin: 10px 0;
}

.remove__btns {
    width: 85%;
    margin: 10px auto;
    padding: 10px 0;
    border-top: 2px solid $gray;
    button {
        margin-left: 10px;
    }
}