.header {
    position: relative;
    .header__menu {
        position: absolute;
        left: -100px;
    }
    .header-container {
        width: 100%;
        height: 56px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}