@import "./_variables";
@import "./header.scss";
@import "./form.scss";
@import "./room.scss";
@import "./profile.scss";
@import "./post.scss";

main {
    min-height: 85vh; 
}

footer {
    text-align: center;
}
body {
    background-color: $white;
    color: $black;
    font: 600 16px Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

a {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}

/* COMMON */

.inner {
    padding: 0 5%;
}

/* CARD */

.preview-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: inherit;
    box-sizing: border-box;
    padding: 20px;
    background: none;
    color: $black;
    border: 1px solid $gray;
    border-radius: 20px;
    margin-top: 10px;
    .room__description {
        width: 40%;
        small {
            margin-left: 20%;
        }
    }
}
