@import "./_variables";
@import "./header.scss";
@import "./form.scss";
@import "./room.scss";
@import "./profile.scss";
@import "./post.scss";

main {
    margin-top: 20%; 
}

footer {
    text-align: center;
    margin: 10px 0px;
}
body {
    background-color: $white;
    color: $black;
    font: 600 16px Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

a {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
}

/* COMMON */

.inner {
    padding: 0 5%;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5px;
    padding: 10px;
    background-color: $black;
    color: $white;
    outline: none;
    font: inherit;
    border-radius: 9999px;
}

/* CARD */

.preview-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: inherit;
    box-sizing: border-box;
    padding: 20px;
    background: none;
    color: $black;
    border: 1px solid $gray;
    margin-top: 10px;
    .room__description {
        width: 40%;
        small {
            margin-left: 20%;
        }
    }
}

.comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 0px;
    padding: 3px 15px;
    font: inherit;
    box-sizing: border-box;
    background: none;
    color: $black;
    border: 1px solid $gray;
    .comment__content {
        font-size: larger;
    }
    .comment__author {
        font-size: smaller;
    }
}

.member-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    .member {
        font-size: larger;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.study__btn {
    display: inline-block;
}

.delete__btn {
    padding: 0 5px;
}