doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
        title #{pageTitle} | Study  
    body 
        include partials/header.pug
        main.main 
            if statusMessage 
                span=statusMessage 
            if errorMessage
                span=errorMessage 
            block content
        include partials/footer.pug
        script(src="/assets/js/main.js")
        script(src="https://kit.fontawesome.com/89617b73c8.js",crossorigin="anonymous")