extends base.pug

block content 
    form(method="POST")
        input(type="password", placeholder="현재 비밀번호", name="oldPassword")
        input(type="password", placeholder="변경할 비밀번호", name="newPassword")
        input(type="password", placeholder="변경할 비밀번호 확인", name="newPassword2")
        input(type="submit", value="비밀번호 변경")