extends base.pug

block content 
    form(method="POST")
        input(type="text", placeholder="기록 이름을 작성하세요.", name="title", required)
        hr
        label(for="studyStart") 공부 시작 시간 
        input(id="studyStart", type="time", name="studyStart", required)
        label(for="studyEnd") 공부 종료 시간
        input(id="studyEnd", type="time", name="studyEnd", required)
        hr
        label(for="breakStart") 쉬는 시간 시작 
        input(id="breakStart", type="time", name="breakStart")
        label(for="breakEnd") 쉬는 시간 종료 
        input(id="breakEnd", type="time", name="breakEnd")
        input(type="submit", value="기록하기")