extends base.pug

block content 
    .form-container 
        form.form.edit__form(method="POST")
            input(type="text", name="username", placeholder="변경할 유저이름", value=currentUser.username)
            input(type="email", name="email", placeholder="변경할 이메일", value=currentUser.email)
            button.form__btn.btn 변경하기
    .edit__btns.inner 
        a.btn(href="change-password") 비밀번호 변경 →
        a.btn(href=`remove`) 계정 삭제 →
    .remove__btns#removeContainer 
        each study in currentUser.studies 
            .remove__btn
                span=study.title
                button.btn(data-id=study._id) ❌

block script 
    script(src="/assets/js/deleteStudy.js") 