extends base.pug

block content 
    form(method="POST")
        input(type="text", name="username", placeholder="변경할 유저이름", value=currentUser.username)
        input(type="email", name="email", placeholder="변경할 이메일", value=currentUser.email)
        input(type="submit", value="변경하기")
    hr
    a(href="change-password") 비밀번호 변경
    a(href=`remove`) 계정 삭제 
    hr 
    each study in currentUser.studies 
        span=study.title 
        button 삭제