extends base.pug
include mixins/roompreview.pug

block content
    .form-container
        .inner 
            form(method="GET").form
                .form__tags 
                    .form__tag 
                        input(type="radio", id="toeic", name="filtering", value="toeic")
                        label(for="toeic") 토익
                    .form__tag 
                        input(type="radio", id="official", name="filtering", value="official")
                        label(for="official") 공시
                    .form__tag 
                        input(type="radio", id="self", name="filtering", value="self")
                        label(for="self") 자율
                button.form__btn 
                    i.fas.fa-search-plus.fa-lg 
            form(method="GET").form
                input(type="text", name="searchingBy", placeholder="모집하는 방을 검색하세요.")
                button.form__btn 
                    i.fas.fa-search-plus.fa-lg
    .room-container.inner      
        each room in rooms 
            +roomPreview(room)
        else
            h1 No Rooms 
        