header.header
    nav.header__menu.closed#sideBar 
        .header__tags 
            span.header__title StudyApp  
            span#closeBtn.fas.fa-times-circle.fa-2x
        ul 
            li 
                a(href="/") 홈
            if loggedIn 
                li 
                    a(href=`/users/${loggedInUser._id}`) #{loggedInUser.username} 의 프로필
                li 
                    a(href="/logout") 로그아웃
                li 
                    a(href="/rooms/create") 스터디 생성
            else 
                li 
                    a(href="/login") 로그인
                li 
                    a(href="/join") 회원가입
    .header-container.inner 
        span.header__open#openBtn 
            i.fas.fa-bars 
        h1.header__title=pageTitle
        span.header__search 
            i.fas.fa-search 